body{
    background-color: rgb(232, 214, 196);
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
/* styling recipe index.html */
.recipe{
    width: 70%;
    margin: auto;
    background-image: url('image/money\ bag\ icon.svg');
    background-size: 0.2%;
    /* padding: 20px; */
    margin-top: 20px;
}
.menu-list{
    line-height: 1em;
    padding-left: 30px;
}
.istock-img{
    width: 100%;
    height: 70px;
    object-fit: cover;
}
.sla{
    /* width: 300px; */
    text-align: center;
    /* background-color: blanchedalmond; */
}
.remote{
    background-color: aliceblue;
    border-radius: 10px;
    text-decoration: none;
    width: 100px;
    margin: 0 20px;
}
/* .set{
    width: 20px;
    height: auto;
} */
/* section{
    width: 50%;
    margin: auto;
    text-align: center;
} */
.card{
    color: #ffffff;
    width: 350px;
    padding: 1rem 1rem;
    font-size: 28px;
    line-height: 0.2;
    display: flex;
    margin: auto;
    height: auto;
    /* text-align: center; */
    /* padding: 20px; */
    margin-top: 20px;
    /* margin: 20px 0 0 20px; */
}
.content{
    text-align: center;
    margin-left: 25px;
    /* padding: 20px; */
}

#total{
    background-color: rgba(0, 0, 0, 0.872);
}
#rentals{
    background-color: darkslategrey;
}
#sales{
    background-color: rgb(255, 119, 0);
}

/* ######################################### */

/* styling for card-2.html */
/* styling for all forms */
.regform{
    background-color: bisque;
    width: 60%;
    margin: auto;
    /* text-align: center; */
    padding: 30px;
    margin-top: 70px;
    border-radius: 0.2em 3em;
    border: #ffffff 3px solid;
}
.sol{
    height: 0.6rem;
    /* width: 16px;
    margin: 0px;
    padding: 0px; */
}

.slac{
padding: 2rem 1rem;
border: 2px solid rgb(183, 180, 180);
}

/* styling for all input */

.all-input{
     width: 100%;
     height: 1.5rem;
     border-radius: 20px;
     border: none;
     cursor: pointer;
     margin-bottom: 15px;
}
/* styling all h1 */
form h1{
    text-align: center;
}
/* styling form-2 div button */
.show{
    text-align: center;
}
/* styling form-2 button */
.show button{
    background-color: rgba(165, 42, 42, 0.41);
    border: none;
    width: 100px;
    height: 2rem;
    border-radius: 0.2em 4em ;
    cursor: pointer;
}
form input:hover{
background-color: rgb(238, 222, 201);
opacity: 0.5;
}
form input:hover{
    color: rgb(202, 23, 23);
}
.show button:hover{
opacity: 0.8;
}
/* styling registration */
/* styling reg h1 */
.model >h1{
margin: 0px;
}
.size{
    margin-top: 0px;
}

.son{
    text-align: center;
}
/* styling registration section */
.model{
    margin-top: 50px;
}
.model h1{
    margin-bottom: 10px;
}
/* styling reg h1 */
.fom{
    text-align: center;
}
/* styling button div */
.soon{
    margin-top: 10px;
    text-align: end;
    }
    /* stying button */
.soul{
    background-color: lightslategray;
    border-radius: 20px;
    height: 30px;
    border-radius: 20px;
    border-color: blueviolet;
}
/* styling button hovering */
.soul:hover{
    background-color: rgba(230, 236, 242, 0.422);
    border-color: rgb(92, 132, 164);
}
/* .sin{
    text-align: center;
} */
/* ################################################## */

/* Styling for form-3 */
.form-3-body{
    background-image: url(/image/money\ bag\ icon.svg);
    background-size: 0.3%;
}
/* .mode{
    width: 100%;
    margin: auto;
} */
#order-form{
    background-color: #ffffff;
    width: 1000px;
    margin: auto;
    padding: 30px;
    line-height: 1.5rem;
}
.ford label{
    display: block;
}
.snail{
    display: flex;
    /* gap: 5px; */
    justify-content: space-between;
}
.snail input{
    width: 400px;
    margin: auto;
    padding: 10px;
    /* height: 10px; */
    border-radius: 5px;
    /* line-height: 1.5rem;    */
}
.input1{
    display: flex;
    justify-content: center;
    gap: 50px;
    /* margin-left: 50px; */
    line-height: 3px;
}
.sed{
    margin-top: 1.4rem;
}
.black input{
    cursor: pointer;
}
.blak select{
    cursor: pointer;
}
.button{
    /* float: right; */
    width: 6rem;
    height: 2rem;
    /* padding: ; */
    margin-left: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 128, 0, 0.512);
    /* background-image: linear-gradient(90deg, #00800051); */
}
.button:hover{
    background-color: rgba(0, 128, 0, 0.512);
    opacity: 0.7;
    cursor: pointer;
}
/* .dev{
    line-height: 2em;
    background-image: linear-gradient(90deg, #0000ff);
} */

/* ###################################### */
/* stlyling table-2 */
.tab h1{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
}
.tabula{
    border: green 3px solid;
    text-align: center;
    width: 500px;
    height: 150px
}
.aa{
    background-color: aqua;
    border: blue 2px solid;
}
.pay-table{
    width: 70%;
    margin: auto;
}
.pay-table h1{
    text-align: center;
    margin-bottom: 5px;
}
.pay-table table{
    width: 800px;
    text-align: center;
}


