body{
    background-color: rgb(232, 214, 196);
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
img{
    width: 20px;
    height: auto;
}
/* section{
    width: 50%;
    margin: auto;
    text-align: center;
} */
.card{
    color: #ffffff;
    width: 350px;
    padding: 1rem 1rem;
    font-size: 28px;
    line-height: 0.2;
    display: flex;
    margin: auto;
    height: auto;
    /* text-align: center; */
    /* padding: 20px; */
    margin-top: 20px;
    /* margin: 20px 0 0 20px; */
}
.content{
    text-align: center;
    margin-left: 25px;
    /* padding: 20px; */
}

#total{
    background-color: rgba(0, 0, 0, 0.872);
}
#rentals{
    background-color: darkslategrey;
}
#sales{
    background-color: rgb(255, 119, 0);
}

/* ######################################### */

/* styling for card-2.html */

form{
    background-color: bisque;
    width: 40%;
    margin: auto;
    /* text-align: center; */
    padding: 30px;
    margin-top: 70px;
    border-radius: 0.2em 3em;
}
form div input{
     width: 100%;
     height: 1.5rem;
     border-radius: 20px;
     border: none;
     cursor: pointer;
     margin-bottom: 15px;
}
form h1{
    text-align: center;
}
.show{
    text-align: center;
}
.show button{
    background-color: rgba(165, 42, 42, 0.41);
    border: none;
    width: 100px;
    height: 2rem;
    border-radius: 0.2em 4em ;
    cursor: pointer;
}
form input:hover{
background-color: rgb(238, 222, 201);
opacity: 0.5;
}
form input:hover{
    color: rgb(202, 23, 23);
}
.show button:hover{
opacity: 0.8;
}
/* styling registration */
/* styling reg h1 */
.model >h1{
margin: 0px;
}
.size{
    margin-top: 0px;
}

.son{
    text-align: center;
}
.model{
    margin-top: 50px;
}
.model h1{
    margin-bottom: 10px;
}
/* styling reg h1 */
.fom{
    text-align: center;
}
/* styling button div */
.soon{
    margin-top: 10px;
    text-align: end;
    }
    /* stying button */
.soul{
    border-radius: 20px;
    height: 30px;
    border-radius: 20px;
    border-color: blueviolet;
}
/* .sin{
    text-align: center;
} */


/* ################################################## */

/* Styling for form-3 */








